@model CSharp_SurveyWithValidations.Models.User

<div>

    <h3>Name: @Model.Name</h3>
    <h3>Location: @Model.Location</h3>
    <h3>Language: @Model.Language</h3>
    <h3>Comment: @Model.Comment</h3>
</div>